#ifndef CONFIG_H
#define CONFIG_H

#include "Arduino.h"

// ============================================================================
//                             LORAWAN CONFIGS
// Altere o appKey
// Na primeira vez siga as instruções para ativar licença
// ============================================================================
// Para gerar o dev eui automaticamente a partir do chip id
#define LORAWAN_DEVEUI_AUTO 1

/*
// https://docs.heltec.org/general/how_to_use_license.html
// Type	id	license	Production Place	Manufacture Data

// 1. Abrir https://resource.heltec.cn/search
// 2. Colocar ID do dispositivo para obter license
// 3. Enviar no console serial: AT+CDKEY=????????????????????????????????
// uint32_t license[4] = {0x????????, 0x????????, 0x????????,, 0x????????};
*/

// ============================================================================
//                             RASTREIO CONFIGS
// ============================================================================

// Habilita debug serial detalhado
#define DEBUG_SERIAL 1
// Intervalo de envio de posições (ms)
#define TX_DUTY_CYCLE 30000

// ============================================================================
//                             WIFI / DASHBOARD CONFIGS
// ============================================================================

#define WIFI_SSID "WIFI-SSID"
#define WIFI_PASSWORD "WIFI-PASSWORD"
#define WIFI_HOSTNAME "lorawan-rastreio"

// Apenas para debug, habilita o servidor web para visualização das posições
#define WEB_ADMIN 1

#endif // CONFIG_H